.header-container{
    header{
        div{
            width: 100%;
            height: 200px;
            background-image: url("../images/image-product-mobile.jpg");
            background-size: cover;
        }
    }
}
